<ion-modal-view>
    <ion-header-bar class="bar-dark">
    	<button class="button button-icon icon ion-ios-arrow-back" ng-click="ocultarModalAnomalias()"></button>
        <h1 class="title">Anomalías</h1>
    </ion-header-bar>

    <ion-content>
    	<ion-list>
          <ion-checkbox ng-repeat="anomalia in estado.anomalias" class="checkbox-dark" ng-model="anomalia.estaSeleccionado">{{::anomalia.clave}} - {{::anomalia.nombre}}</ion-checkbox>
    	</ion-list>
    </ion-content>
</ion-modal-view>
