<ion-modal-view>
	<ion-header-bar class="bar-dark">
		<button class="button button-icon icon ion-ios-arrow-back" ng-click="ocultarModalComentarios()"></button>
	    <h1 class="title">Comentarios</h1>
	</ion-header-bar>

	<ion-content>
		<div class="card">
			<form name="frmComentario" novalidate="">
				<label class="item item-input" ng-class="true ? 'comentario-incorrecto' : ''">
					<textarea name="comentario" placeholder="Ingrese aqui el comentario" style="height: 6em;" ng-model="infoModalComentarios.comentarioActual.texto"
						required=""></textarea>
				</label>
				<div class="item item-divider item-icon-right" ng-click="frmComentario.$valid ? agregarComentario() : null">
					Agregar
					<i class="icon ion-ios-checkmark" ng-show="frmComentario.$valid"></i>
					<i class="icon ion-ios-close" ng-show="frmComentario.$invalid"></i>
				</div>
			</form>
		</div>

		<div class="card" ng-repeat="comentario in infoModalComentarios.comentarios" ng-click="infoModalComentarios.comentarioActual = comentario">
			<div class="item item-text-wrap">{{comentario.texto}}</div>
		</div>
	</ion-content>
</ion-modal-view>