<ion-view view-title="Toma de lecturas">
	<ion-header-bar class="bar-dark">
		<h1 class="title">Toma de Lecturas</h1>
		<button class="button button-icon icon ion-android-more-vertical"
			ng-click="mostrarOpciones()" ></button>
	</ion-header-bar>

    <ion-content scroll="false" class="fondo-toma-lecturas">
	    <div class="leyenda-datos" ng-if="estado.totalPaginas === 0 || estado.mostrarResumen">
	        <div class="contenido-leyenda-datos">
				<div class="list card" ng-click="cargarCuentas()">
					<div class="item item-divider text-center">
						Resumen
					</div>
				    <div class="item item-icon-left">
				        <i class="icon ion-android-phone-portrait"></i>{{::estado.resumen.dispositivo}}
				    </div>
				    <div class="item item-icon-left">
				        <i class="icon ion-pound"></i>Total de cuentas: {{::estado.resumen.cuentas}}
				    </div>
				    <div class="item item-icon-left">
				        <i class="icon ion-android-map"></i>Ciclo: {{::estado.resumen.ciclo}}
				    </div>
				    <div class="item item-icon-left">
				        <i class="icon ion-home"></i>Rutas: {{::estado.resumen.rutas}}
				    </div>
				    <div class="item item-icon-left">
				        <i class="icon ion-person"></i>Asignado por: {{::estado.resumen.Nombre_Empleado}}
				    </div>
				</div>
	        </div>
	    </div>

    	<ion-slides options="estado.opcionesSlides" slider="data.slider" ng-show="estado.totalPaginas !== 0 && !estado.mostrarResumen">
    		<ion-slide-page ng-repeat="predio in estado.predios">
	    		<div class="list">
	    			<div class="item item-divider item-icon-left text-center">
	    				<i class="icon ion-ios-information"></i>
	    				RPU: {{::predio.rpu}}<hr>No cuenta: {{::predio.noCuenta}}
	    			</div>
	    			<div class="item item-icon-left item-text-wrap">
	    				<i class="icon ion-person-stalker"></i>
	    				<p>{{::predio.nombreUsuario}}</p>
	    			</div>
	    			<div class="item item-icon-left item-text-wrap">
	    				<i class="icon ion-android-map"></i>
	    				<p>{{::predio.direccion}}</p>
	    			</div>
	    			<div class="item item-divider item-icon-left">
	    				<i class="icon ion-speedometer"></i>
	    				No. Medidor<span style="float: right;">{{::predio.noMedidor}}</span>
	    			</div>
	    			<div class="item item-divider">
	    				<span><strong>Marca:&nbsp;</strong>{{::predio.marcaMedidor}}</span>
	    				<span style="float: right;"><strong>Diametro:&nbsp;</strong>{{::predio.diametroMedidor}}</span>
	    			</div>
	    			<div class="item item-icon-left">
	    				<i class="icon ion-card"></i>
	    				<strong>Tarifa:</strong>
	    				<span style="float: right;">{{::predio.nombreTarifa}}</span>
	    			</div>
	    			<div class="item item-divider item-icon-right" ng-click="frmCaptura.$valid ? modificarLectura() : null">
	    				Registrar captura
	    				<i class="icon"
	    					ng-class="predio.estatus === 'capturado' ? 'ion-android-checkbox-outline' : 'ion-android-checkbox-outline-blank'"></i>
	    			</div>
	    			<form name="frmCaptura" novalidate="">
		    			<label class="item item-input" ng-class="frmCaptura.$invalid ? 'lectura-incorrecta' : ''">
							<i class="icon ion-search placeholder-icon"></i>
							<input type="number" name="lectura" placeholder="Ingresar Lectura" ng-model="predio.lectura"
								ng-disabled="predio.estatus === 'capturado'" required="" ng-pattern="regexs.numeros">
		    			</label>
		    			<div class="button-bar" style="padding: 1px 2px 0;">
		    				<a class="button button-dark button-outline button-icon icon ion-android-alert" style="background-color: white;" ng-click="mostrarAnomalias()" ng-disabled="predio.estatus === 'capturado'"></a>

		    				<a class="button button-dark button-outline button-icon icon ion-android-create" style="background-color: white;" ng-click="mostrarComentarios()" ng-disabled="predio.estatus === 'capturado'"></a>

		    				<a class="button button-dark button-outline button-icon icon ion-android-image" style="background-color: white;" ng-click="tomarFoto()" ng-disabled="predio.estatus === 'capturado'"></a>
		    			</div>
	    			</form>
	    		</div>
    		</ion-slide-page>
    	</ion-slides>
    </ion-content>
</ion-view>