.fondo-toma-lecturas {
	background: linear-gradient(to bottom, #eef2f3, #D2D1D1);
}

.boton-centrado {
	padding-top: 2px;
	width: 179px;
	margin: 0 auto;
}

.leyenda-datos {
	height: 100%;
	width: 100%;
	display: table;
}

.contenido-leyenda-datos {
    display: table-cell;
    vertical-align: middle;
}

.lectura-incorrecta {
	border: 2px solid red;
	margin: 0;
}

.comentario-incorrecto {
	border-left: 1px solid red !important;
	border-right: 1px solid red !important;
}