#autenticacion .contenedor {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 100%;
}

#autenticacion .flex {
	display: flex;
	align-items: center;
	padding: 0 1.25em;
}

#autenticacion .logo {
	background:  url(../../img/contel.png) no-repeat center;
	background-color: #494949;
	color: white;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#autenticacion .padding {
	padding-top: 20px;
	border: 1.4px solid #494949;
	background-color: #D2D1D1;
}

#autenticacion label {
	border-radius: 10px;
	margin-bottom: 15px;
}

#autenticacion hr {
	margin: 25px 0;
}


@media screen and (orientation:landscape) {
    #autenticacion .logo {
        /*display: none;*/
    }
}

.entrada-correcta {
	border-color: gray;
}

.entrada-incorrecta {
	border: 1px solid red;
}