<ion-view view-title="Autenticación" id="autenticacion">
	<ion-content scroll="false" class="flex">
		<div class="contenedor">
			<div class="logo"> </div>
			<div class="padding">
				<form name="frmLogin" novalidate>
					<label class="item item-input" ng-class="frmLogin.noEmpleado.$invalid ? 'entrada-incorrecta' : 'entrada-correcta'">
						<i class="icon ion-person placeholder-icon"></i>
					  	<input type="text" placeholder="No Empleado" name="noEmpleado" ng-model="usuario.no_empleado" required=""
					  		ng-pattern="regexs.numerosLetras" maxlength="10">
					</label>
					<label class="item item-input" ng-class="frmLogin.pass.$invalid ? 'entrada-incorrecta' : 'entrada-correcta'">
						<i class="icon ion-locked placeholder-icon"></i>
				  		<input type="password" placeholder="Contraseña" name="pass" ng-model="usuario.password" required=""
				  			ng-pattern="regexs.numerosLetras" maxlength="10">
					</label>
					<hr>
					<button class="button button-block button-dark" ng-click="autenticar()" ng-disabled="frmLogin.$invalid">
						Autenticar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-android-unlock"></i>
					</button>
				</form>
			</div>
		</div>
	</ion-content>
</ion-view>